:root {
  --button-height: 100px;
  --button-width: 100px;
}

.button_gold {
  background-color: gold;
  color: darkblue;
  font-weight: bold;
  border: 1px solid;
  border-color: gold;
  border-radius: 9999px;
  outline: none;
  padding: 5px 10px;
}

.button_gold:hover {
    background-color: transparent;
    color: gold;
    font-weight: bold;
    border: 1px solid;
    border-color: gold;
    border-radius: 9999px;
    outline: none;
    padding: 5px 10px;
}

.active_btn {
  background-color: transparent;
  color: gold;
  font-weight: bold;
  border: 1px solid;
  border-color: gold;
  border-radius: 9999px;
  outline: none;
  padding: 5px 10px;
}
