.footer_wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  min-height: 100vh;
}

.footer {
  position: relative;
  width: 100%;
  background: var(--primary-blue-color);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.footer .social_icon,
.footer .menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer .social_icon li,
.footer .menu li {
  list-style: none;
}

.footer .social_icon li a,
.footer .menu li a {
  font-size: 2em;
  color: var(--primary-gold-color);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  font-weight: 600;
}

.footer .menu li a {
  font-size: 1.2em;
  color: var(--primary-gold-color);
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.6;
  font-weight: 500;
}

.footer .menu li a:hover {
  opacity: 1;
}

.footer p {
  color: var(--primary-gold-color);
  text-align: center;
  margin-top: 15px;
  font-weight: 500;
}
